* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}


.header{
    background-color:white;
    height:30px;
} 

.active{
    color: #ffff !important;
}

.학생{
    margin-left: 12px;
    color:#555;
    text-decoration-line : none;
    text-decoration : none;
}

.로그인{
    color:#555;
    text-decoration-line : none;
    text-decoration : none;
}

.인증센터{
    color:#555;
    text-decoration-line : none;
    text-decoration : none;
}

.nav-brand_smbank{ 
    margin-right:150px;
    color:#ffff;
}

.nav-item_조회{
    margin-right:100px;
    color:#ffff;
    font-weight: bold;
}

.nav-item_이체{
    margin-right:100px;
    color:#ffff;
    font-weight: bold;
}

.nav-item_지원금{
    margin-right:100px;
    color:#ffff;
    font-weight: bold;
}

.nav-item_사용내역{
    margin-right:100px;
    color:#ffff;
    font-weight: bold;
}

.nav-item_추천상품{
    color:#ffff;
    font-weight: bold;
}
/* 
.divide--line{
    height: 1px;
    background-color: #009591;;
} */

.contents-area{
    position: relative;
    height:950px;
}

.section-topcon{
    position: relative;
    top:30px;
    text-align: center;
    line-height: 70px;
}

.section-bottomcon{
    position: relative;
    top:90px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.5px;
    padding-bottom: 18px;
}

.new-news{
    line-height: 42px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-align: right;
}

.right-area{
    background-color:#0d6efd;
    --bs-gutter-x: 0rem;
}


.section-middlecon{
    position: relative;
    top:60px;
    background-color: #ecf0f1;
    height:180px;
    text-align: center;
    line-height: 150px;
    box-sizing: border-box;
}
.section-middlecon b{
    height: 25px;
    display: block;
    font-size: 18px;
    color: #000;
    letter-spacing: -0.5px;
    line-height: 150px;
    padding-bottom: 3px;
    font-weight: normal;
}


.section-middlecon span{
    height:120px;
    line-height:150px;
    display: block;
    font-size: 16px;
    color: #666;
    letter-spacing: -0.5px;
    
} 

.carousel-inner{
    width:auto;
    height:400px; /* 이미지 높이 변경 */
}

.carousel-item{
    width: auto;
    height:100%;
}

.d-block {
    display:block;
    width: auto;
    height: 100%;
}
.card{
    height: auto;
    width: 100%;
    color:black;
    border: 0px !important;
    /* border-right:none;
    border-left:none;
    border-top:none;
    border-bottom:none; */
}

.menu1 ::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 52px;
    position: absolute;
    left:500px;
    top: 62px;
    background: #dae1e3;
}

.menu2 ::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 52px;
    position: absolute;
    left:750px;
    top: 62px;
    background: #dae1e3;
}

.menu3 ::after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 52px;
    position: absolute;
    left:1000px;
    top: 62px;
    background: #dae1e3;
}

.foot{
    border-top: 1px solid #eee;
    position: relative;
    height:250px;
    color:black;
    background-color: white;
}

.foot-left{
    text-align: right;
} 

.card{
    line-height: 15px;
}

.login_button{
    height : 60px; 
    margin-top : 40px;
    margin-bottom:1px;
}

.cert_button{
    height : 60px; 
}

.custom-link-list{
    border-top:1px solid #eee;
}

.custom-link-list li:hover a {
    color: #fff000 !important;
    background: url(../img/link_toggle.png) no-repeat 270px center !important;
}
.service-center{
    padding-left: 30px;
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 62px;
    font-weight: 600;
    font-family: 'Noto Sans KR',sans-serif;
    background: url(../img/link.png) no-repeat 270px center;
    
}

.news1{
    margin-bottom: 4px;
}

.news2{
    margin-bottom: 4px;
}

.news3{
    margin-bottom: 4px;
}

.news4{
    margin-bottom: 4px;
}

.news5{
    margin-bottom: 4px;
}

.nw_btn_more{
    background: none;
    font-size: 11px;
    line-height: 20px;
    color: #666;
    top: 49px;
    right: 0;
    padding-left: 0;
}
