
.divideLineC{
    margin-top:30px;
    height:1px; 
    background-color:black;
}

.bottomCont{
    margin-top:20px;
    margin-left: 10px;
    margin-right:20px;
}

.bottomCont2{
    margin-top:10px;
}