.cardList {
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cardType {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 80px;
}

.cardName {
    margin-bottom: 10px;
}

.box{
    background-color: gray;
    border: 1px solid;
    padding: 10px;
    width: 500px;
    height: 150px;
}

.cardInfo{
    text-align: left;
    margin-top: 220px;
    margin-bottom: 30px;
}

/* .cardNumber{
    text-align: left;
}

.expireDate{
    text-align: left;
} */

.checkbutton {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 500px;
    height: 75px;
    width: 145px;
}

.cardContainer {
    position: relative;
    text-align: left;
}

.cardType {
    position: absolute;
    top: 5%;
    left: 8%;
}

.cardNumber {
    position: absolute;
    top: 65%;
    left: 8%;
}

.cardExpireDate {
    position: absolute;
    top: 75%;
    left: 8%;
}

.cardImage {
    width: 682.4px;
    padding-bottom: 60px;
}