


.numberinput{
    width: 150px;
}
.otpnum{
    margin-bottom:150px;
    font-size:20px;

}


.otpsize{
    width:100%;
    height:400px;
    text-align:left;
}


.confirm{
    margin-top: 100px;
    margin-bottom:50px;
    text-align: left;
}

.box{
    margin-top:70px;
    border:1px solid;
    width:100%;
    height:300px;
}


.cancelbutton{
    margin-top:70px;
    margin-bottom:100px;
    margin-left:50px;
    height:75px;
    width:200px;
}

.nextbutton{
    margin-top:70px;
    margin-bottom:100px;
    
    height:75px;
    width:200px;
}
