.findpassword{
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: bold;
}

.findpasswordnotice{
    margin-bottom: 100px;
}

.inputid{
    height: 50px;
    margin-bottom:50px;
}

.questionlist{
    height: 50px;
    margin-bottom:50px;
}
.inputanswer{
    height: 50px;
    margin-bottom:50px;
}

.findbutton{
    height:50px;
    width:150px;
    margin-bottom: 100px;
}