.divideLineC{
    height:2px;
    background-color:#003d91;
}

.noBullet{
    list-style:none;

}

.leftCont1{
    font-size:25px;
    margin-top:50px;
    margin-bottom:20px;

}

.leftCont1:hover{
    background-color:#003d91;
    color:white;

}

.leftCont{
    font-size:25px;
    margin-top:10px;
    margin-bottom:20px;
}

.leftCont:hover{
    background-color:#003d91;
    color:white;

}

.nocolor:hover{
    color:white;
}

.nocolor2:hover{
    color:blue;
}

.cs_size{
    width:80px;
    height:80px;
    float:right;
    

}


.leftCont2{
    font-size:25px;
    text-decoration:none;
    margin-top:20px;
    float:left;
}

a{
    color:inherit;
    text-decoration: inherit;
}
