.mypage_contents{
    height:600px;

}

.qa_button{
    margin-top:150px;
    margin-right:200px;
    margin-left:200px;

    width:300px;
    height:300px;
}

.pwchange_button{
    margin-top:150px;
    margin-right:200px;

    width:300px;
    height:300px;

}

.myinfo_button{
    margin-top:150px;
    margin-right:200px;

    width:300px;
    height:300px;


}