.ca_text{

    margin-top:300px;

    font-size: 30px;
}

.ca_button{
    
    margin-top : 200px;
    margin-left : 650px;
    margin-bottom: 300px;
    width : 300px;
    height : 80px;

}

.ca_button2{
    
    margin-top : 200px;
    margin-left : 100px;
    margin-bottom: 300px;
    width : 300px;
    height : 80px;

}