.og_box{
    margin-top:50px;
    border: 1px solid white;
    width : 545px;
    height: 250px;
}

.pagenav_og{
    margin-top:30px;
    align-items:center;
    margin-left : 280px;  
}

.item{
    width:545px;
    height:250px;
}
