.passwordchange{
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: bold;
}


.inputnewpassword{
    height: 50px;
    margin-bottom:50px;
}

.inputpasswordcheck{
    height: 50px;
    margin-bottom:50px;
}

.changebutton{
    height:75px;
    width:145px;
    margin-bottom: 100px;
}