.pd_text{
    font-size:30px;
    margin-top:50px;
    margin-bottom:50px;

}

.p_card{
    margin-left:50px;
    width:680;
    height:400px;
}

.cardbody{
    padding: 0rem 0rem !important;
}

.item{
    width:710px;
    height:400px;
}

.productbutton{
    border-radius:50%;
}

