.qs_text{ margin-top:150px; text-align:left; color:black; font-weight:bold; font-size:40px; margin-bottom:150px; }


.accountInput{ margin-bottom:226px; }

.nobullet{
    text-align:left;
    margin-top : 50px;
    margin-bottom : 20px;
    float:left;
    list-style:none;
    font-size:30px;
}

.qs_text2{
    text-align: left;
    color:black;
    font-size:30px;
    margin-bottom:50px;
}

.nobullet{
    margin-top : 50px;
    margin-bottom : 20px;
    float:left;
    list-style:none;
}