.SelectAccount{
    height:624px;
}

.loanapply{
    margin-top:100px;
    /* margin-bottom:100px; */
    font-weight: bold;
}

.nextbutton{
    margin-top:100px;
    height:50px;
    width:150px;
}

.accountNumber{
    margin-top:100px;
}

.accountinput{
margin-top: 100px;
}

.loanType{
    margin-top: 50px;
}
.loantypeinput{
margin-top: 48px;
}