.loanapply{
    margin-top:100px;
    /* margin-bottom:100px; */
    font-weight: bold;
}

.nextbutton{
    margin-top:100px;
    height:75px;
    width:145px;
}

.accountNumber{
    margin-top:200px;
}

.accountinput{
margin-top: 337px;
}

.loanType{
    margin-top: 50px;
}
.loantypeinput{
margin-top: 48px;
}