.informationinput {
    text-align: left;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 70px;
}

.id {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

.password {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.confirmpassword {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.name {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.age {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.gender {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.email {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.phonenumber {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.findpassword {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
}

.idinput {
    margin-top: 250px;
}

.idrule {
    text-align: left;
}

.passwordinput {
    margin-top: 75px;
}

.pwrule {
    text-align: left;
}

.confirmpasswordinput {
    margin-top: 75px;
}

.nameinput {
    margin-top: 100px;
    width: 200px;
}

.ageinput {
    margin-top: 100px;
    width: 100px;
}

.genderinput {
    width: 200px;
    margin-top: 100px;
}

.emailinput1 {
    margin-top: 98px;
}

.emailinput2 {
    margin-top: 100px;
}

.emailinput3 {
    margin-top: 98px;
}

.phonenumberinput1 {
    margin-top: 100px;
}

.phonenumberinput2 {
    margin-top: 105px;
}

.phonenumberinput3 {
    margin-top: 100px;
}

.phonenumberinput4 {
    margin-top: 105px;
}

.phonenumberinput5 {
    margin-top: 100px;
}

.findpasswordquestion {
    margin-top: 105px;
}

.findpasswordanswerinput {
    margin-top: 105px;
    width: 300px;
}

.signupbutton {
    height: 75px;
    width: 145px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}
