.temporarypasswordguide{
    margin-top: 100px;
    margin-bottom: 70px;
    font-weight: bold;
}

.loginnotice{
    margin-bottom: 50px;
}

.temporarypassword{
    text-align: right;
    margin-bottom: 100px;
}

.temporarypasswordvalue{
    text-align: left;
    margin-bottom: 100px;
}

.loginbutton{
    height:75px;
    width:200px;
    margin-bottom: 100px;
}