.top {
    background-color: #003d91;
}

.nobullet {
    list-style: none;
}

.Navbar {
    color: white;
}

.login {
    color: white;
    margin-top: 5px;
    font-size: 20px;
    float: left;
}

.certification {
    color: white;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 20px;
    float: left;
}

.Navbar {
    height: 100px;
    font-size: 20px;
}

.name {
    color: white;
    margin-left: 20px;
    margin-right: 200px;
    font-size: 25px;
    font-weight: bold;
}

.logoimg {
    width: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lookup {
    color: #003d91;
}

.lookup:hover {
    color: white;
    background-color: #003d91;
}

.transper {
    color: #003d91;
}

.transper:hover {
    color: white;
    background-color: #003d91;
}

.tuition {
    color: #003d91;
}

.tuition:hover {
    color: white;
    background-color: #003d91;
}

.product {
    color: #003d91;
}

.product:hover {
    color: white;
    background-color: #003d91;
}

.cardissuance {
    color: #003d91;
}

.cardissuance:hover {
    color: white;
    background-color: #003d91;
}

.notice {
    color: #003d91;
}

.notice:hover {
    color: white;
    background-color: #003d91;
}

.d-flex {
    margin-right: 100px;
}

.divideline {
    height: 1px;
    background-color: black;
}