.nav{
    margin-left:100px;
    margin-right:100px;
    margin-top : 20px;
    margin-bottom:20px;
}

.pagenav_smbank{
    align-items:center;
    margin-left : 300px;    
}

.pagination {
    justify-content: center;
    float: center;
    text-align: center;
}

.index {
    width: 10%;
}

.title {
    text-align: center;
    width: 70%;
}

.date {
    width: 15%;
}